.btnColor {
    background-color: purple !important;
}

button {
    background-color: purple;
    border-color: purple;
    color: white;
    border-radius: 10px;
}

#choice-response {
    color: gray;    
}

#instructions {
    color: dimgray;
}

.container {
    margin-top: 10%;
    padding: 10px;
}